{% load i18n %}
{% load thumbnail %}

{% if products %}
<layout label="Image gallery">
    <table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
        <tbody><tr>
            <td class="w180" valign="top" width="180">
                <table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
                    <tbody>
                        <tr>
                            {% for product in products %}
                            <td class="w180" width="180">
                                <div class="article-content" align="center">
                                    <multiline label="Description"><a href="http://{{ domain }}{{ product.get_absolute_url }}" target="_blank" style="color:#000000 !important;text-decoration:none;">{{product.translated_name}}</a></multiline>
                                </div>
                            </td>
                            <td class="w180" height="10" width="180">&nbsp;</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        {% for product in products %}{% thumbnail product.main_image.picture 85x85 as image %}
                        <td class="w180" width="180" align="center"><a href="http://{{ domain }}{{ product.get_absolute_url }}" target="_blank"><img src="http://{{ domain }}{{ image }}" width="85" height="85" alt="{{product.translated_name}}"/></a></td>
                        <td class="w180" height="10" width="180">&nbsp;</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="20"></td>
        </tr>
    </tbody></table>
</layout>
{% endif %}